.img-thumbnail {
	max-height: 180px;
	max-width: 124px;

}	

.table td, .table thead th {
	vertical-align: middle;
}

.table thead th:nth-child(3) {
	display: flex;
    align-items: center;
}

@media (max-width: 576px) { 
	.display-4 {
		font-size: 1.2rem;
	}
	.img-thumbnail {
		max-width: 64px;
	}
 }

 @media (max-width: 400px) {
	.table tbody td {
		padding: 0;
		text-align: center;
	}	
 }

